<div class="row">
    <div class="col-md-4">
        <div class="account-panel">
            <fieldset>
                <legend>Administrator</legend>
                <ul class="list-unstyled">
                    <li><a href="/administrator/create">Create Account</a></li>
                    <li><a href="/administrator/users">System Users</a></li>
                    <li>
                        <a href="/administrator/roles">System Roles</a>
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>
</div>