<div class="row">
    <div class="col-md-4">
        <div class="account-panel">
            <fieldset>
                <legend>Account</legend>
                <ul class="list-unstyled">
                    <li><a href="/myaccount/edit">Edit Account Information</a></li>
                    <li><a href="/myaccount/change-password">Change Account Password</a></li>
                    <li>
                        <span ng-if="vm.user.EmailConfirmed"><i class="fa fa-check"></i> Email Confirmed</span>
                        <span title="Please confirm your email address." ng-if="!vm.user.EmailConfirmed"><button class="btn btn-default btn-xs" ng-click="vm.SendConfirmation()">{{vm.message}}</button></span>
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>
</div>