<div class="jumbotron">
    <div class="container">
        <div class="page-header">
            <h1>NG-IDENTITY</h1>
            <p>Using AngularJS with ASP.NET Identity's default functionality to give the user full account management abilities.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Angular JS</h2>
        <p>Using this popular client-side framework ng-Identity is able to give the user a beautiful user experience whilst managing accounts.</p>
        <p><a class="btn btn-default" href="https://angularjs.org/" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ASP.NET Identity</h2>
        <p>It includes profile support, OAuth integration, works with OWIN, and is included with the ASP.NET templates shipped with Visual Studio 2013.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/identity" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Features</h2>
        <ul>
            <li>Email Confirmation</li>
            <li>Forgot Password</li>
        </ul>
    </div>
</div>
